<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Authors - SHIVA'S E BOOK STORE</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <%- include('partials/sidebar') %>

  <div class="page-content">
    <h1>Authors</h1>
    <ul>
      <% authors.forEach(author => { %>
        <li>
          <a href="/authors/<%= author._id %>"><%= author.name %></a>
        </li>
      <% }) %>
    </ul>
  </div>
</body>
</html>
